version: "2"
services:
  influxdb:
    container_name: influxdb
    image: quay.io/influxdb/influxdb:v2.0.3
    ports:
      - "8086:8086"
    volumes:
      - ./data/influxdb:/var/lib/influxdb
      - ./conf/influxdb:/etc/influxdb/
    restart: always
    networks:
      - iot-net

  telegraf:
    container_name: telegraf
    image: telegraf
    network_mode: "host"
    volumes:
      - ./conf/telegraf/telegraf.conf:/etc/telegraf/telegraf.conf
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always
    networks:
      - iot-net
    
  grafana:
    container_name: grafana
    image: grafana/grafana
    user: "0"
    ports:
      - "3000:3000"
    volumes:
      - ./data/grafana:/var/lib/grafana
      - ./log/grafana:/var/log/grafana
      - ./conf/grafana/grafana.ini:/etc/grafana/grafana.ini
    depends_on:
      - influxdb
    restart: always
    networks:
      - iot-net

networks:
  iot-net:
    external:
      name: iot-net

